@model WebApp.Models.Buildings.ProductionBuilding

@{
    ViewBag.Title = "View";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div class="container">
    <h4>ProductionBuilding</h4>
    <hr />
    <dl class="row">

        <dt class="col-md-4 col-sm-4">
            @Html.DisplayNameFor(model => model.Level):
        </dt>

        <dd class="col-md-4 col-sm-4">
            @Html.DisplayFor(model => model.Level)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-md-4 col-sm-4">
            @Html.DisplayNameFor(model => model.Info):
        </dt>

        <dd class="col-md-4 col-sm-4">
            @Html.DisplayFor(model => model.Info)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-md-4 col-sm-4">
            @Html.DisplayFor(model => model.Resource.Type):
        </dt>

        <dd class="col-md-4 col-sm-4">
            @Html.DisplayFor(model => model.Resource.Value)
        </dd>
    </dl>
</div>

<div class="row">
    <div class="col-sm-1">
        <a class="btn btn-primary" href="#">Collect</a>
    </div>
    <div class="col-sm-1">
        <a class="btn btn-primary" href="/town">Upgrade</a>
    </div>
    <div class="col-sm-1">
        <a class="btn btn-danger" href="/town">Back</a>
    </div>
</div>
