@model WebApp.Models.Buildings.ProductionBuilding

@{
    ViewBag.Title = "View";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div class="container">
    <h4>ProductionBuilding</h4>
    <hr />
    <dl class="row">

        <dt class="col-md-4 col-sm-4">
            @Html.DisplayNameFor(model => model.Level):
        </dt>

        <dd class="col-md-4 col-sm-4">
            @Html.DisplayFor(model => model.Level)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-md-4 col-sm-4">
            @Html.DisplayNameFor(model => model.Info):
        </dt>

        <dd class="col-md-4 col-sm-4">
            @Html.DisplayFor(model => model.Info)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-md-4 col-sm-4">
            @Html.DisplayFor(model => model.Resource.Type):
        </dt>

        <dd class="col-md-4 col-sm-4">
            @Html.DisplayFor(model => model.Resource.Value)
        </dd>
    </dl>
    @if(Model.TimeUntilUpgraded != null) 
    {
        <dl class="row">
            <dt class="col-md-4 col-sm-4">
                @Html.Encode("Time to upgrade")
            </dt>
            <dt class="col-md-4 col-sm-4">
                @{ var time = Model.TimeUntilUpgraded - DateTime.UtcNow; }
                @Html.Encode(time.Hours + ":" + time.Minutes + ":" + time.Seconds)
            </dt>
        </dl>
    }
</div>

<div class="row">
    <div class="col-sm-1">
        <a class="btn btn-primary" href="#">Collect</a>
    </div>
    <div class="col-sm-1">
        <a class="btn btn-primary" href="@Url.Content("/town/upgradebuilding?id=" + Model.Id)">Upgrade</a>
    </div>
    <div class="col-sm-1">
        <a class="btn btn-danger" href="@Url.Content("/town?townId=" + Session["townId"])">Back</a>
    </div>
</div>
