@model WebApp.Models.Buildings.StorageBuilding

@{
    ViewBag.Title = "StorageBuildingDetails";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <h4>StorageBuilding</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Info)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Info)
        </dd>

        <dt>
            @Html.Label("Stored resources")
        </dt>

        @foreach(var res in Model.StoredResources)
        {
            <dd>
                @Html.Encode(res.Type.ToString()): @Html.Encode(res.Value)
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Back to my town", "Index", new { townID = Session["townId"] })
</p>
